@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
}

/* Estilos CSS para la tabla */
.table-container {
  width: 100%;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th,
.table-container td {
  border: 2px solid #000000;
  padding: 8px;
  text-align: left;
}

.table-container tbody tr {
  background-color: #ffffff;
}
